@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
    font-family: Montserrat, sans-serif;
    background-size: cover;
}

#patronform {
    width: 50%;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    border: 2px solid;
}

#searchform {
    width: 70%;
    margin: auto;
    background-color: white;
}

.hiddenMsg {
    display: none;
    color: red;
    font-size: smaller;
}

tr th:first-child {
    border-top-left-radius: 10px;
}

tr th:last-child {
    border-top-right-radius: 10px
}

tfoot tr td:first-child {
    border-bottom-left-radius: 10px;
}

tfoot tr td:last-child {
    border-bottom-right-radius: 10px;
}

tr td:nth-child(2):not(.foot) {
    border: 1px solid;
}

tr {
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
}

#home {
    width: 40px;
    border: none;
}

.index-header {
    margin: auto;
    color: black;
    text-decoration: none;
    font-family: Marcellus, serif;
    font-size: 3rem;
}

.index-header:hover {
    color: black;
}

#libmsg {
    background-color: palegoldenrod;
}

.bookimg {
     width: 100px;
     border: 1px solid;
}

.ratio1 {
    width: 10%;
}

.ratio5 {
    width: 50%;
}

.ratio4 {
    width: 40%;
}

